ADMIN_IDS=
ARCHIVE_TTL_DAYS=
BOT_TOKEN=
CENTRIFUGO_API_KEY=
CENTRIFUGO_HMAC_SECRET=
CENTRIFUGO_URL=
DATABASE_URL=
MAX_UPLOAD_SIZE_MB=
MEDIA_UPLOAD_DIR=
REDIS_URL=
WEBAPP_URL=
GEMINI_API_KEY=
VITE_API_URL=
VITE_CENTRIFUGO_URL=